@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", monospace;
  @apply text-white bg-zinc-900;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
